# Tasks Breakdown:

1. Data Understanding & Insights
    - Load and explore the dataset using pandas and matplotlib/seaborn.

Perform exploratory data analysis (EDA):

- Find missing values, data types, and unique categories.
- Visualize key relationships:
     - Attrition vs. Age
     - Attrition vs. MonthlyIncome
     - Attrition vs. Department
     - Correlation heatmap for numerical features.
- Write 3‚Äì5 key insights from your observations (e.g., ‚ÄúYounger employees tend to leave more frequently.‚Äù)

2. Data Preprocessing (Pipeline Implementation)
Split the dataset into train and test sets (80:20).
Use a ColumnTransformer and Pipeline to perform:
- Numerical preprocessing: SimpleImputer(strategy='mean') + StandardScaler
- Categorical preprocessing: SimpleImputer(strategy='most_frequent') + OneHotEncoder(handle_unknown='ignore')
- Combine preprocessing and model into a single pipeline for each model type.

3. Model Implementation
Train and evaluate the following models using the preprocessed data:
- Linear Regression (for predicting MonthlyIncome as an additional regression subtask)
- Logistic Regression (for Attrition classification)
- Regularized Linear Models:
    - Ridge
    - LASSO
    - Elastic Net
    - Decision Tree Classifier
- Use GridSearchCV to tune hyperparameters such as:
    - Ridge/LASSO alpha values
    - ElasticNet l1_ratio
    - DecisionTree depth and min_samples_split

4. Model Evaluation
Use appropriate metrics:
- For regression: RMSE, R¬≤ Score
- For classification: Accuracy, Precision, Recall, F1 Score, ROC-AUC
- Create a comparison dataframe summarizing all models‚Äô performances.
    - Plot ROC curves for classification models.

5. Insights & Interpretation
- Identify which model performs best and why.
- Discuss which features most strongly influence Attrition (use .coef_ or feature_importances_).
- Write a short business interpretation of the findings:
    - ‚ÄúEmployees with low satisfaction and longer overtime hours are more likely to leave.‚Äù
    - ‚ÄúElastic Net performed best with balanced bias-variance trade-off.‚Äù

üí° Stretch Goal (Optional)

Use Pipeline + GridSearchCV end-to-end automation.

Perform feature selection using model coefficients or recursive elimination.

Visualize Decision Tree structure using plot_tree().

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('HR.csv')

In [13]:
df.head(3)
# df.shape

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [16]:
num_cols = df.select_dtypes(include='number').columns.tolist()
cat_cols = df.select_dtypes(include='object').columns.tolist()
print("Numerical:", num_cols)
print("Categorical:", cat_cols)

Numerical: ['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']
Categorical: ['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']

In [ ]:
# No missing Values, Some columns are